---
# The main .css file
---
@charset "utf-8";
@import "syntax-highlighting";

$break-small: 320px;
$break-medium: 480px;

$font-size: 14px;
$font-family: 'Press Start 2P', cursive;

$scheme-color: black;

/* Social Icons */
/*$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest: #cb2027 !default;
$google: #dd4b39 !default;
*/

body {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: normal;
  @media screen and (max-width: $break-small) {
    margin-bottom: 4px;
  }
}

h1 {
  font-size: 26px;
  @media screen and (max-width: $break-small) {
    font-size: 20px;
  }
}

h2 {
  font-size: 22px;
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  @media screen and (max-width: $break-small) {
    font-size: 16px;
  }
}

.site-header{
  height: 100px;
  font-family: $font-family;
  text-align: center;
  margin: 25px;
  @media screen and (max-width: $break-small) {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.site-title{
  font-size: 28px;
  text-transform: uppercase;
  @media screen and (max-width: $break-small) {
    font-size: 22px;
  }
}

.site-tagline{
  @media screen and (max-width: $break-medium) {
    font-size: 62%;
  }
  @media screen and (max-width: $break-small) {
    font-size: 58%;
  }
}

a {
  color: $scheme-color;
  text-decoration: none;
}

a:visited {
  color: parent;
}

.post {
  max-width: 710px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

article {
  margin-top: 40px;
  h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  p {
    font-size: $font-size;
    line-height: 30px;
    letter-spacing:-.003em;
    margin-bottom: 20px;
    @media screen and (max-width: $break-small) {
      word-spacing: 1px;
      font-size: 9px;
      margin-bottom: 10px;
      line-height: 18px;
    }
    img {
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }
  code {
    font-family: $font-family;
    font-size: 12px;
  }
  blockquote {
    border-left: solid 1px $scheme-color;
    p, li, ul, ol {
      font-size: 10px;
      line-height: 1.7;
      padding-left: 20px;
      @media screen and (max-width: $break-small) {
        font-size: 11px;
        padding-left: 10px;
      }
    }
  }
  pre {
    padding: 13px;
    border: solid 1px black;
  }
}

.block {
  margin:auto;
  text-align: left;
}

footer {
  text-align: center;
}

hr {
  width: 200px;
  margin: 2em auto;
  border: none;
  border-bottom: solid 2px $scheme-color;
}

.post-title {
  letter-spacing: 2px;
  text-align: center;
}

.post-meta {
  font-size: 12px;
  text-align: center;
  @media screen and (max-width: $break-small) {
    font-size: 8px;
  }
}

.post-desc {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  @media screen and (max-width: $break-small) {
    font-size: 8px;
  }
}

.post-tags {
  font-size: 22px;
  @media screen and (max-width: $break-small) {
    font-size: 8px;
  }
}

li {
  display: list-item;
  margin-left: 40px;
  padding-top: 10px;
}

ul {
  list-style: disc;
  margin-bottom: 20px;
}

ol {
  list-style: decimal;
  margin-bottom: 20px;
}

pre {
  margin-bottom: 20px;
}

.site-front {
  min-height: 700px;
  padding-top: 70px;
  @media screen and (max-width: $break-medium) {
    padding-top: 16px;
  }
  @media screen and (max-width: $break-small) {
    padding-top: 0;
  }
}

.home-list {
  font-size: 13px;
  @media screen and (max-width: $break-medium) {
    font-size: 11px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 8px;
  }
}

.home-group {
  padding-bottom: 20px;
}

.site-decor {
  padding-top: 16px;
}

#markdown-toc {

}

.pull-center {
  text-align: center;
}

.pull-right {
  text-align: right;
}

.small-block {
  max-width: 585px;
  display: block;
  margin: auto;
  padding: auto;
}

.image {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 40px;
}