---
layout: default
---
<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->
<section class="site-front block">
  <div class="container">
    <div class="grid_4 home-group">
      <h2>
        <a href="/root">/root</a>
      </h2>
      {% for post in site.posts limit:20 %}
        <h3 class="home-list">
          {% if post.category != "log" %}
            &nbsp;&bull;&nbsp;
            <a href="{{ post.url }}">{% if post.shorttitle %}{{post.shorttitle}}{% else %}{{post.title}}{% endif %}</a>
          {% endif %}
        </h3>
      {% endfor %}
    </div>

    <div class="grid_4 home-group">
      <h2>
        <a href="/io">/io</a>
      </h2>
      {% for post in site.categories.io limit:5 %}
        <h3 class="home-list">
          &nbsp;&bull;&nbsp;
          <a href="{{ post.url }}">{% if post.shorttitle %}{{post.shorttitle}}{% else %}{{post.title}}{% endif %}</a>
        </h3>
      {% endfor %}
    </div>

    <div class="grid_4 home-group">
      <h2>
        <a href="/null">/null</a>
      </h2>
      {% for post in site.categories.null limit:5 %}
        <h3 class="home-list">
          &nbsp;&bull;&nbsp;
          <a href="{{ post.url }}">{% if post.shorttitle %}{{post.shorttitle}}{% else %}{{post.title}}{% endif %}</a>
        </h3>
      {% endfor %}
    </div>

    <div class="grid_4 home-group">
      <h2>
        <a href="/gibipp">/gibipp</a>
      </h2>
      {% for post in site.categories.gibipp limit:5 %}
        <h3 class="home-list">
          &nbsp;&bull;&nbsp;
          <a href="{{ post.url }}">{% if post.shorttitle %}{{post.shorttitle}}{% else %}{{post.title}}{% endif %}</a>
        </h3>
      {% endfor %}
    </div>

    <div class="grid_4 home-group">
      <h2>
        <a href="/log">/log</a>
      </h2>
      {% for post in site.categories.log limit:5 %}
        <h3 class="home-list">
          &nbsp;&bull;&nbsp;
          <a href="{{ post.url }}">{% if post.shorttitle %}{{post.shorttitle}}{% else %}{{post.title}}{% endif %}</a>
        </h3>
      {% endfor %}
    </div>
  </div>
</section>