@charset "utf-8";
@import "syntax-highlighting";

/**
 * start of minimal reset
 */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * end of minimal reset
 */

$break-small: 320px;
$break-medium: 480px;
$break-large: 890px;

$max-width: 700px;

$font-size: 22px;
$font-family: Georgia, Cambria, Times, serif;

$scheme-color: #333;
$grey: #f8f9fa;

a {
  color: $scheme-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .03em;
  font-weight: bold;
  margin: 8px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

body > header {
  background-color: $grey;
  padding: 0 1em;

  div {
    font-weight: bold;
    max-width: $max-width;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
  }

  nav {
    font-size: 22px;
  }
}

main {
  max-width: $max-width;
  font-size: $font-size;
  margin: auto;
  padding: 1em;
  padding-bottom: 100px;

  section, header {
    padding: 8px 0px;
  }

  article {
    header {
      text-align: center;
    }

    section > p {
      margin: 1em auto;
      line-height: 1.4em;
    }

    ol, ul {
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    a {
      border-bottom: 1px solid royalblue;
      color: royalblue;
    }

    pre {
      padding: 6px 12px;
      border: solid 1px black;
    }

    code {
      background-color: #eef;
      font-size: 0.7em;
      border-radius: 2px;
    }

    p > code {
      padding: 1px 6px;
    }

    blockquote {
      margin: 0 0 30px;
      margin-left: -26px;
      border-left: 3px solid #57ad68;
      padding-left: 20px;
      font-style: italic;
      line-height: 1.2em;
      font-size: 0.8em;
    }

    li {
      margin-bottom: .2em;
    }
  }
}

body > footer {
  background-color: $grey;
  padding: 0 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;

  div {
    max-width: $max-width;
    height: 32px;
    margin: 16px auto;
    text-align: center;
  }
}

hr {
  padding: 0;
  display: block;
  width: 15%;
  margin: 30px auto;
  border: 0 solid #ddd;
  border-top: 1px solid #ddd;
}

pre {
  line-height: 0.9em;
  margin-bottom: 20px;
}
