<header class="site-header">
  <div class="container">
    <div class="grid_12">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <p class="site-tagline">{{ site.tagline }} <a href="/about">(?)</a></p>
      <p class="site-decor">&mdash;&#10086;&mdash;</p>
    </div>
  </div>
</header>

<!-- <header class="site-header">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <!-- <p>{{ site.tagline }}</p> -->


<!-- {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->
<!-- </header> -->

